@import '../../styles/variables';

.wrapper {
  background-color: $color-background;
  width: 300px;
  border-radius: 10px;
}

.menu-item {
  font-size: 18px;
  color: $color-item-text;
  cursor: pointer;
  padding: 10px 15px;
  width: 100%;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-button-back-hover;
    color: $color-button-back;
  }
}
